<mat-toolbar style="background-color: {{ color }};">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-button [routerLink]="'/'">Home</a>
    <a mat-button [routerLink]="'/courses'">Courses</a>
    <a mat-button *ngIf="!loggedUser" [routerLink]="'/login'">Login</a>
    <a mat-button *ngIf="loggedUser" [matMenuTriggerFor]="Menu"> {{ loggedUser.name }} </a>
    <mat-menu #Menu="matMenu">
      <button mat-menu-item [routerLink]="'/orders'">Orders</button>
      <button mat-menu-item [routerLink]="'/admin-courses'">Admin courses</button>
      <button mat-menu-item (click)="logOut()">Logout</button>
    </mat-menu>
    <a mat-button [routerLink]="'/about'">About</a>
    <a mat-button>
      0 <mat-icon>shopping_cart</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
